.header__form {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__search {
  width: auto;
  padding: 5px 10px;
  background-color: white;
  border: solid black 1px;
  font-size: 12px;
}
