.form__input {
  outline: none;
  border: solid 1px rgb(120, 120, 120);
  font-size: 19px;
  line-height: 1.5;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 8px 0px #ccc;
  width: 240px;
}
