* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #f6deab;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 95%;
  max-width: 840px;
  margin: auto;
}

p {
  text-align: center;
}

button {
  background-color: rgba(134, 80, 14, 0.2);
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 10px;
  margin: 10px 10px;
  width: 100px;
  box-shadow: 3px 3px 8px 0px #ccc;
}

button:hover {
  background-color: rgba(85, 85, 85, 0.3);
  transition: .3s;

}

.icon {
  color: rgba(136, 136, 136, 0.5);
  margin-right: 5px;
}

p {
  color: #555
}
