.list__item {
  list-style: none;
}

.list__item:nth-child(odd) {
  background-color: rgb(230, 230, 230);
}

.list__item:nth-child(even) {
  background-color: white;
}

.song {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 250px) minmax(100px, 250px) 1fr;
  padding-top: 5px;
  margin-bottom: 15px;
}

.song p {
  color: black
}

.song__artist,
.song__title {
  text-align: left;
}

.song__title {
  grid-column: 3;
  margin: 10px 5px 10px;
}

.song__artist {
  grid-column: 2;
  margin: 10px 10px 10px 5px;
}

.item__tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 12px;
  padding-bottom: 10px;
  max-width: 600px;
  margin: auto;
}
